@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "grid.css";
@import "reset.css";
@import "login.css";
@import "bootstrap.css";

:root {
    --color-50: #E5F3FF;
    --color-100: #CFE9FF;
    --color-200: #A9D4FF;
    --color-300: #75b3ff;
    --color-400: #3F82FF;
    --color-500: #1450FF;
    --color-600: #0039FF;
    --color-700: #003Aff;
    --color-800: #0034e3;
    --color-900: #0022b2;
    --color-950: #001066;
    --border-gray-50: #E0E0E0;
    --border-gray-100: #E6E6E6;
    --button-gray: #EEEEEE;
    --color-black: #000000;
    --color-placeholder: #828282;
    --color-btnReg: #0B2FAE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.hide {
    display: none;
}

body {
    font-size: 16px;
    background-color: var(--color-100);
}

b {
    font-weight: bold;
}

@-ms-viewport {
    width: device-width;
}

@media only screen and (max-width: 1366px) {
    body {
        font-size: 14px !important;
    }
}