@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.title-nav{
	font-weight: bold;
}

#menu {
	background: #FFFFFF;
	height: 33px;
	border-radius: 10px;
	max-height: 100px;
	display: flex;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
#menu ul {
	width: 100%;
	text-align: center;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu li.dotted-line {
    border-bottom: 2px dashed #000;
    height: 5px;
    margin: 0 20px;
}
#menu a {
	display: block;
	line-height: 33px;
	padding: 0 14px;
	text-decoration: none;
	color: #000;
	font-size: 16px;
}
.cerrar-sesion{
    color: blue !important;
    margin: 20px 0px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #000;
	background: #F2F2F2;
}
#menu li a img{
	width: 25px;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 33px;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}
#menu label {
	display: none;
	line-height: 40px;
	text-align: center;
	position: absolute;
	left: 35px;
	color: rgb(5, 5, 139);

}
#menu label:before {
	font-size: 1.6em;
	color: rgb(5, 5, 139);
	content: "\2261"; 
	margin-right: 10px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #FFFFFF;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #000;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block;
}
#menu ul.sub-menus a:hover{
	background: #75B3FF;
	color: #000;
}

@media screen and (max-width: 900px){
	#menu {
        position:relative;
    }
	#menu ul {
        background:#FFFFFF;
        position:absolute;
		top: 40px;
        right:0;
        left:0;
        z-index:3;
        height:auto;
        display:none;
        text-align:left;
        }
	#menu ul.sub-menus {
        width:100%;
        position:static;
    }
	#menu ul.sub-menus a {
        padding-left:30px;
    }
	#menu li {
        display:block;
        float:none;
        width:auto;
    }
	#menu input, #menu label {
        position:relative;
        top:0;
        left:0;
        display:block;
    }
	#menu input {
        z-index:4;
    }
	#menu input:checked + label {
        color:#000;
    }
	#menu input:checked + label:before {
        content:"\00d7";
    }
	#menu input:checked ~ ul {
        display:block;
    }
}